.header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary);
}

.header > img {
  height: 150px;
}

h1 {
  color: var(--secondary-font);
  font-size: 4rem;
  margin: 0;
}
