@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-primary: white;
  --bg-secondary: #0a3665;
  --bg-button: #0e4c8f;
}

html {
  font-size: 16px;
  font-family: "Saira Condensed", sans-serif;
}

body {
  margin: 0;
  background: var(--bg-primary);
}
